.env
node_modules
**/node_modules
events/incoming.txt
events/outgoing.txt
.vscode
.git_old/
.idea

backend/\.idea/

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/skypechat\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

\.idea/inspectionProfiles/Project_Default\.xml
.idea/jsLibraryMappings.xml
.idea/jsLibraryMappings.xml
